<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="RegressionSuite">
	<listeners>
				<listener class-name="ai.ds.utility.ListenerSetup"/>
				<listener class-name="ai.ds.utility.ExtentReporterNG"/>
	</listeners>
  <test thread-count="5" name="RegressionTest">
    <classes>
      <class name="ai.ds.testLayer.LoginPageTest"/>
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
